<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="nav-container">

    <h4>MEZEG</h4>
    <div class="update-container" *ngIf="getRoute()==='/main'">
      {{lastChange}}
    </div>

    <div class="btn-container" *ngIf="getRoute()==='/main'">
      <button type="button" class="btn btn-light" (click)="refresh()">Refresh</button>
      <button type="button" class="btn btn-light" routerLink="settings">Settings</button>
    </div>
    <div class="btn-container" *ngIf="getRoute()==='/settings'">
      <button type="button" class="btn btn-light" routerLink="main">Back</button>
    </div>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

